<header>
    <div>
        Base Asset:
        <a href="?base=BTC&quote={{quoteAsset}}"><button>Bitcoin (BTC)</button></a>
        <a href="?base=ETH&quote={{quoteAsset}}"><button>Ethereum (ETH)</button></a>
        <a href="?base=XRP&quote={{quoteAsset}}"><button>Ripple (XRP)</button></a>
        <a href="?base=BNB&quote={{quoteAsset}}"><button>Binance Coin (BNB)</button></a>
        <a href="?base=XLM&quote={{quoteAsset}}"><button>Stellar (XLM)</button></a>
    </div>
    <br>
    <div>
        Quote Asset:
        <a href="?base={{baseAsset}}&quote=USDT"><button>Dollar (USDT)</button></a>
        <a href="?base={{baseAsset}}&quote=EUR"><button>Euro (EUR)</button></a>
    </div>
</header>