<!DOCTYPE html>
<html lang="pt-PT">
<head>
    {% include "_head.html" %}
    <title>CryptoIsCool</title>
</head>
<body>
    {% include "_header.html" %}
    {% include "_coinheader.html" %}

    <h1>Current Price</h1>
    <b>{{symbol}}</b><br>
    {{price}} |
    {% if price24h > 0 %}
        <span style="color:green">{{price24h}}%</span>
    {% else %}
        <span style="color:red">{{price24h}}%</span>
    {% endif %}
    <br><br>
    
    <h2>Price History (2 weeks)</h2>
    <table>
        <tr>
            <td>Date</td>
            <td>Open</td>
            <td>High</td>
            <td>Low</td>
            <td>Close</td>
        </tr>
        {% for i in range(0, 14) %}
        <tr>
            <td>{{dateList[i]}}</td>
            <td>{{priceHistory_open[i]}}</td>
            <td>{{priceHistory_high[i]}}</td>
            <td>{{priceHistory_low[i]}}</td>
            <td>{{priceHistory_close[i]}}</td>
        </tr>
        {% endfor %}
    </table>   
</body>
</html>