<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoIsCool</title>
</head>
<body>
    {% include "_header.html" %}

    <h1>{{symbol}}</h1>

    <h2>Current Price</h2>
    1 {{baseAsset}} = {{price}} {{quoteAsset}}<br>
    {% if price24h > 0 %}
        <span style="color:green">{{price24h}}%</span> (24h)
    {% else %}
        <span style="color:red">{{price24h}}%</span> (24h)
    {% endif %}
    
    <br><br>

    <h2>Price 2 weeks</h2>
    {% set open = price2w[1] | float %}
    {% set high = price2w[2] | float %}
    {% set low = price2w[3] | float %}
    {% set close = price2w[4] | float %}

    Open price: {{open}} {{quoteAsset}}<br>
    High price: {{high}} {{quoteAsset}}<br>
    Low price: {{low}} {{quoteAsset}}<br>
    Close price: {{close}} {{quoteAsset}}
</body>
</html>